<!doctype html>

<head>
    <title>Angular Calulator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <div ng-app="angularCalculatorApp" ng-controller="MainController">
        <input type="number" placeholder="Operator 1" ng-model="op1">
        <input type="number" placeholder="Operator 2" ng-model="op2">
        <button class="btn" type="button" ng-click="onClickSum()">+</button>
        <button class="btn" type="button" ng-click="onClickSubtract()">-</button>
        <button class="btn" type="button" ng-click="onClickMultiply()">*</button>
        <button class="btn" type="button" ng-click="onClickDivide()">/</button>
        <p style="visibility:{{hidden}}">The result of the {{ operation }} of {{ope1}}
          and {{ope2}} is {{ result }}</p>
    </div>
</body>

</html>